<ion-header-bar class="bar-header bar-assertive">
    <h1 class="title">San-Stu头条</h1>
</ion-header-bar>
<div style="padding-top: 30px;">
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="Search">
        </label>
    </div>
</div>
<ion-content style="padding-top: 60px;">
    <div ng-show="isShow">
        <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-ios-reload" refreshing-icon="ion-checkmark-circled" refreshing-text="都是重复的啦!" on-refresh="getData()"></ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left" ng-href="#/index/newsDetails?channelId={{new.channelId}}&channelName={{new.channelName}}&title={{new.title}}" ng-repeat="new in news|filter:Search">
                <img ng-show="new.havePic" ng-src="{{new.imageurls[0].url}}">
                <h2>{{new.title}}</h2>
                <p>{{new.desc}}</p>
                <p>{{new.pubDate}}</p>
                <p> {{new.source}}</p>
            </a>
        </div>
    </div>
    <div ng-hide="isShow" class="ion-load-a active" data-pack="default" data-tags="spinner, waiting, refresh" style="margin: 0 auto;width: 25px;font-size: 35px;"></div>
</ion-content>
<ion-footer-bar class="bar-assertive">
    <a class="tab-item" style="line-height: 34px;" ng-click="changeNews('5572a109b3cdc86cf39001db','国内最新',false)">
        国内焦点
    </a>
    <a class="tab-item" style="line-height: 34px;" ng-click="changeNews('5572a109b3cdc86cf39001e3','互联网最新',false)">
        互联网焦点
    </a>
    <a class="tab-item" style="line-height: 34px;" ng-click="changeNews('5572a109b3cdc86cf39001e5','汽车最新',false)">
        汽车焦点
    </a>
</ion-footer-bar>